* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #c0f7d1ba;
}

main {
    flex: 1;
}

header {
  background-color: rgba(120, 146, 25, 0.729);
}

header h1 {
  font-size: 100px;
  text-align: left;
  margin-left: 2%;
  display: inline-block;
  margin-bottom: 1% ;
}

hr {
  border: 3px solid rgb(34, 43, 29);
}

.nav {
  display: inline-block;
}

.nav-flex {
  display: inline;
  justify-content: flex-end;
  margin-left: 15%;
}

.nav-flex a {
  font-size: 2rem;
  padding: 2rem;
}

.nav-flex a:hover {
  cursor: pointer;
  color: rgb(195, 239, 169);
}

a{
  text-decoration: none;
  color:rgb(34, 43, 29);;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 10px 30px 20px 30px;
  color: #2f2f2f;
  background-color: rgba(120, 146, 25, 0.729);
  font-size: small;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__addr {
  margin-right: auto;
}

.footer a {
  display: inline-block;
  color:rgb(34, 43, 29);;
}

.footer__admin-signin {
  font-size: 2rem;
  padding: 2rem;
  font-size: large;
  color: #fff;
  text-decoration: none;
}

.footer__admin-signin:hover {
  color: rgb(195, 239, 169);
}
header h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.signInH1 {
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
}

.loginBox {
    background-color: whitesmoke;
    width: 600px;
    height: 300px;
    border: solid 2px black;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.loginFormBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.loginForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.loginForm-username {
    width: 250px;
    height: 30px;
    padding: 5px;
}

.loginForm-password {
    width: 250px;
    height: 30px;
    padding: 5px;
}

.loginForm-login {
    width: 125px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(31, 31, 150);
    color: whitesmoke;
    border: solid 2px black;
}

.loginForm-login:hover {
    cursor: pointer;
    background-color: rgb(49, 145, 183);
}

.loginBox-signupA {
    color: blue;
    text-decoration: underline;
}

.loginBox-signUpA:hover {
    cursor: pointer;
}



.signUpH1 {
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
}

.signupBox {
    background-color: rgb(185, 238, 157);
    width: 775px;
    height: 458px;
    border: solid 2px black;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.signupFormBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signupForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.signupForm-firstName {
    width: 250px;
    height: 30px;
    padding:5px;
    margin-right: 5px;
}

.signupForm-lastName {
    width: 250px;
    height:30px;
    padding:5px;
}

.signupForm-username {
    width: 250px;
    height:30px;
    padding:5px;
    margin-right: 5px;
}

.signupForm-password {
    width: 250px;
    height:30px;
    padding:5px;
}

.signupForm-ssn {
    width: 90px;
    height:30px;
    padding:5px;
}

.signupForm-address {
    width: 250px;
    height:30px;
    padding:5px;
}

.signupForm-phoneNumber {
    width: 100px;
    height:30px;
    padding:5px;
}

.signupForm-createAccount {
    width: 200px;
    height: 30px;
    padding: 6px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(31, 150, 79);
    color: whitesmoke;
    border: solid 2px black;
}

.signupForm-createAccount:hover {
    cursor: pointer;
    background-color: rgb(49, 145, 183);
}

.signupForm-flex {
    display: flex;
}

.signupForm-flex-sub {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
}

.back {
    margin-left: 600px;
}

.adminControlsH1 {
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

.controlsBox {
    background-color: rgb(203, 238, 199);
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border: solid 6px black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.controlsBox-a {
    width: 250px;
    height: 80px;
    border: solid 3px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 139, 69);
    font-size: 25px;
    font-weight: 900;
}

.controlsBox-a:hover {
    cursor: pointer;
    background-color: rgb(107, 181, 107);
}