* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #c0f7d1ba;
}

main {
    flex: 1;
}

header {
  background-color: rgba(120, 146, 25, 0.729);
}

header h1 {
  font-size: 100px;
  text-align: left;
  margin-left: 2%;
  display: inline-block;
  margin-bottom: 1% ;
}

hr {
  border: 3px solid rgb(34, 43, 29);
}

.nav {
  display: inline-block;
}

.nav-flex {
  display: inline;
  justify-content: flex-end;

}

.nav-flex a {
  font-size: 2rem;
  padding: 2rem;
}

.nav-flex a:hover {
  cursor: pointer;
  color: rgb(195, 239, 169);
}

a{
  text-decoration: none;
  color:rgb(34, 43, 29);;
}

.footer {
  padding: 10px 30px 20px 30px;
  color: #2f2f2f;
  background-color: rgba(120, 146, 25, 0.729);
  font-size: small;
  height: 75px;
}

.footercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} 

.footer__admin-signin {
  font-size: 40px;
}

.footer__admin-signin:hover {
  color: rgb(195, 239, 169);
}

.footer__user-signin {
  font-size: 40px;
}

.footer__user-signin:hover {
  color: rgb(195, 239, 169);
}

.signInH1 {
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
}

.loginBox {
    background-color: whitesmoke;
    width: 600px;
    height: 300px;
    border: solid 2px black;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.loginFormBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.loginForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.loginForm-username {
    width: 250px;
    height: 30px;
    padding: 5px;
}

.loginForm-password {
    width: 250px;
    height: 30px;
    padding: 5px;
}

.loginForm-login {
    width: 125px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(31, 31, 150);
    color: whitesmoke;
    border: solid 2px black;
}

.loginForm-login:hover {
    cursor: pointer;
    background-color: rgb(49, 145, 183);
}

.loginBox-signupA {
    color: blue;
    text-decoration: underline;
}

.loginBox-signUpA:hover {
    cursor: pointer;
}



.signUpH1 {
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
}

.signupBox {
    background-color: rgb(185, 238, 157);
    width: 775px;
    height: 458px;
    border: solid 2px black;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.signupFormBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signupForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.signupForm-firstName {
    width: 250px;
    height: 30px;
    padding:5px;
    margin-right: 5px;
}

.signupForm-lastName {
    width: 250px;
    height:30px;
    padding:5px;
}

.signupForm-username {
    width: 250px;
    height:30px;
    padding:5px;
    margin-right: 5px;
}

.signupForm-password {
    width: 250px;
    height:30px;
    padding:5px;
}

.signupForm-ssn {
    width: 90px;
    height:30px;
    padding:5px;
}

.signupForm-address {
    width: 250px;
    height:30px;
    padding:5px;
}

.signupForm-phoneNumber {
    width: 100px;
    height:30px;
    padding:5px;
}

.signupForm-createAccount {
    width: 200px;
    height: 30px;
    padding: 6px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(31, 150, 79);
    color: whitesmoke;
    border: solid 2px black;
}

.signupForm-createAccount:hover {
    cursor: pointer;
    background-color: rgb(49, 145, 183);
}

.signupForm-flex {
    display: flex;
}

.signupForm-flex-sub {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
}

.back {
    margin-left: 600px;
}

.adminControlsH1 {
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

.controlsBox {
    background-color: rgb(203, 238, 199);
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border: solid 6px black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.controlsBox-a {
    width: 250px;
    height: 80px;
    border: solid 3px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 139, 69);
    font-size: 25px;
    font-weight: 900;
}

.controlsBox-a:hover {
    cursor: pointer;
    background-color: rgb(107, 181, 107);
}



.requestsH {
  text-align: center;
  margin: 10px;
  font-size: 40px;
  border: dotted 4px rgb(70, 198, 70);
  padding: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 95%;
  border: solid 2px black;
  margin: 0 auto;
}

.grid-table {
  background-color: rgb(131, 220, 131);
  overflow-y: auto;
  height: 400px;
}

.grid-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(60, 132, 60);
}

.grid-label {
  color: whitesmoke;
  font-weight: 700;
  font-size: 30px;
}

.grid-search-ssn {
  width: 185px;
  height: 50px;
  font-size: 30px;
  padding: 5px;
  margin-top: 10px;
}

.grid-flex {
  margin-top: 20px;
}

.accountsTable {
  background-color: whitesmoke;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

.accountsTable th, .accountsTable td {
  border: solid 2px black;
  text-align: center;
  padding: 5px;
}

.tableBtn {
  color: whitesmoke;
  font-weight: 700;
  width: 125px;
  height: 50px;
  padding: 5px;
  font-size: 20px;
}

.tableBtn:hover {
  cursor: pointer;
}

.approveBtn {
  background-color: green;

}

.approveBtn:hover {
  background-color: lightgreen;
}

.declineBtn {
  background-color: red;
}

.declineBtn:hover {
  background-color: pink;
}


.account-balance {
  border: 10px solid #78cb78;
  padding: 18px;
  border-radius: 5px;
  background-color: #26b339;
  text-align: center;
  width: 300px;
  margin-left: 41%;
}
.account-balance p{
  color: rgb(225, 246, 215);
  font-size: 34px;
}
.account h1{
  font-size: 80px;
}
.transfer-form {
  background-color: #c0f7d1;
  border: 2px solid #78cb78;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.transfer-form h2 {
  color: #2f2f2f;
  font-size: 30px;
  margin-bottom: 20px;
}

.transfer-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #2f2f2f;
}

.transfer-form input[type="text"],
.transfer-form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #78cb78;
  border-radius: 5px;
  font-size: 18px;
}

.transfer-form input[type="submit"] {
  background-color: #26b339;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.transfer-form input[type="submit"]:hover {
  background-color: #1f8e2b;
}

.addFundsH {
  text-align: center;
  font-size: 40px;
  margin: 20px;
  border: dotted 4px rgb(70, 198, 70);
  padding: 5px;
}

.fundsBox {
  background-color: whitesmoke;
  width: 425px;
  height: 420px;
  margin: 0 auto;
  border: solid 4px black;
  border-radius: 10px;
  padding: 30px;
}

.fundsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.fundsForm-item {
  width: 300px;
  height: 50px;
  font-size: 35px;
  padding: 5px;
  margin: 5px;
}

.fundsForm-cardNumber {
  width: 299px;
}

.fundsForm-expiry {
  width: 250px;
}

.fundsForm-ccv {
  width: 86px;
}

.fundsForm-submit {
  align-self: center;
  margin-top: 15px;
  width: 200px;
  height: 40px;
  background-color: rgb(60, 204, 89);
  border: solid 3px rgb(2, 56, 2);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
} 

.fundsForm-submit:hover {
  cursor: pointer;
  background-color: rgb(146, 232, 164);
}
