<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="../pictures/logo.png">
</head>
<body>
    <header>
        <h1>Snorpl Funds</h1>
        {% block nav %}
        {% endblock %}
        <hr>
    </header>
    {% block body %}
    {% endblock %}
    <main></main>
    <hr>
    <footer class="footer">
        <div class="footercontainer">
          <div class="footeraddr">
            <h1>Copyright © F. L. Snorp</h1>
          </div>
          {% block a %}<a href="/adminLogin.html" class="footer__admin-signin">Admin Sign in</a>{% endblock %}
      </footer>
</body>
</html>