<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Title</title>
</head>
  <body>
    <header>
      <div class="topBar">
        <div class="">
          <ul class="barItem">
            <li><a href="/">HOME</a></li>
          </ul>
        </div>
      </div>
    </header>

    {% block body %}
    {% endblock %}


    <footer class="footer">
        <div class="footer__addr">
            <h1>Copyright © F. L. Snorp</h1>
        </div>
    </footer>

  </body>
</html>