<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snorpl Funds</title>
    <link rel="stylesheet" href="../Static/style.css">
</head>
<body>
    <header>
        <h1>Snorpl Funds</h1>
        <div class="nav-flex">
            <a href="/">My Account</a>
            <a href="/">Transfer</a>
            <a href="/">Add Funds</a>
            <a href="/">Sign-out</a>
        </div>
        <hr>
    </header>
    <main>

    </main>
    <hr>
    <footer class="footer">
        <div class="footer__container">
          <div class="footer__addr">
            <h1>Copyright © F. L. Snorp</h1>
          </div>
          <a href="/" class="footer__admin-signin">Admin Sign in</a>
        </div>
      </footer>
</body>
</html>