{% extends 'base.html' %}
{% block title%}
    My Account
{% endblock %}
{% block nav %}
<div class="nav-flex">
    <a href="/my_account.html">My Account</a>
    <a href="/transfer.html">Transfer</a>
    <a href="/">Add Funds</a>
    <a href="/">Sign-out</a>
</div>
{% endblock %}
{% block body %}
<div class="account">
<center><h1>Welcome {{ name }}</h1>
<h2>Thank you for choosing Snorpl Funds</h2></center>
</div>
<br>
<br><br>
<div class="account-balance">
    <h2>Account Balance:</h2>
    <p>${{ balance }}</p>
</div>
{% endblock %}