{% extends 'base.html' %}
{% block title%}
    My Account
{% endblock %}
{% block nav %}
<div class="nav-flex">
    <a href="/my_account.html">My Account</a>
    <a href="/transfer.html">Transfer</a>
    <a href="/">Add Funds</a>
    <a href="/">Sign-out</a>
</div>
{% endblock %}
{% block body %}
<div class="account">
<center><h1>Welcome {{ name }}</h1>
<h2>Thank you for choosing Snorpl Funds</h2></center>
</div>
<br>
<br><br>
<div class="account-balance">
    <h2>Account Balance:</h2>
    <p>${{ balance }}</p>
</div>
<style>
    .account-balance {
        border: 10px solid #78cb78;
        padding: 18px;
        border-radius: 5px;
        background-color: #26b339;
        text-align: center;
        width: 300px;
        margin-left: 41%;
    }
    .account-balance p{
        color: rgb(225, 246, 215);
        font-size: 34px;
    }
    .account h1{
        font-size: 80px;
    }
    </style>
{% endblock %}